* {
  padding: 0;
  margin: 0;
}

#game {
  width: 600px;
  height: 600px;
  border: 1px solid seagreen;
  background-color: rgb(234, 234, 240);
  border-radius: 10px;
  align-self: flex-start;
}

#character {
  width: 15px;
  height: 70px;
  border: 1px solid seagreen;
  background-color: rgb(185, 185, 218);
  border-radius: 10px;
  position: relative;
  top: 530px; /*height in #game (600) - height(60) of the charater */
  
}

.animate{
    animation: jump 3s;
}

@keyframes jump {
  0% {
    top: 530px;
  }
  30% {
    top: 70px;
  }
  70%{
      top: 90px;
  }
  100%{
      top: 530px;
  }
}


#block {
  width: 40px;
  height: 90px;
  border: 1px solid seagreen;
  background-color: rgb(185, 185, 218);
  border-radius: 10px;
  position: relative;
  top: 435px;
  left: 560px;
  animation: block 3s infinite 5s;
}

/*adding animation*/
@keyframes block {
  0% {
    left: 560px;
  }
  100% {
    left: -80px;
  }
}
